Repository CloudPSS/docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com, @cupxy@foxmail.com, @15082920203@163.com

build: update deps
  docusaurus.config.ts
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: 修复错误的公式；添加错误报告
  docs/documents/software/30-ieslab/21-heuristic-planning-suite/90-component-library/10-power-sources/10-photovoltaic-system/index.md
  docs/documents/software/40-dslab/80-powerflow-module/10-fundamentals/index.md
  docs/meta/10-edit-help/10-markdown-introduction/index.md
  docusaurus/mdx.ts
  docusaurus/plugins/remark/reporting.ts
  package.json
  pnpm-lock.yaml
  src/components/Chat/chat.tsx
Owners: @cupxy@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

docs: 修改更新日志
  blog/2025/11-14-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: 修改更新日志
  blog/2025/08-26-update/index.md
  blog/2025/11-14-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: 修改自定义元件文档
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/50-rotating-machines/10-PMSM/index.md
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case-component-tag.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case1-create-new-octave-comp.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case1-save.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case1-search.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case2-create-new-octave-comp.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case2-save.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case2-search.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case3-create-new-octave-comp.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case3-save.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/case3-search.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/10-octave-control/index.md
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/case-component-tag.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/case1-save.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/case1-search.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/case2-save.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/case2-search.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/case3-save.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/case3-search.png
  docs/documents/software/20-emtlab/50-emts/50-user-defined/20-python-control/index.md
  docs/documents/software/20-emtlab/50-emts/50-user-defined/30-s-function-control/index.md
  docs/documents/software/20-emtlab/80-emts-rt/10-hardware-in-the-loop/case3_model.png
  docs/documents/software/20-emtlab/80-emts-rt/10-hardware-in-the-loop/index.md
  docs/documents/software/20-emtlab/80-emts-rt/30-combined-cloudpss-with-others/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: revison for yh and gd
  blog/2025/08-26-update/index.md
  blog/2025/11-14-update/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/40-query-action/index.md
  docs/documents/software/90-cloudpss-api/index.md
  docs/documents/software/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com, @tanzhd@foxmail.com

docs: 修改cloudpss graphql api文档
  docs/documents/software/90-cloudpss-api/10-introduction-to-api/index.md
  docs/documents/software/90-cloudpss-api/20-user-guide/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/10-base-info/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/20-identity-verification/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/30-core-concepts/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/40-query-action/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/50-mutation-action/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/60-data-types/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/70-development-example/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/index.md
  docs/documents/software/90-cloudpss-api/40-api-document/index.md
  docs/documents/software/90-cloudpss-api/40-api-document/types/objects/account-challenge-update-time.mdx
  docs/documents/software/90-cloudpss-api/40-api-document/types/objects/account-user.mdx
  docs/documents/software/90-cloudpss-api/40-api-document/types/objects/user-challenge-update-time.mdx
  docs/documents/software/90-cloudpss-api/40-api-document/types/scalars/date-time.mdx
  docs/documents/software/90-cloudpss-api/index.md
  docs/tags.yml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复 account-challenge-update-time id
  docs/documents/software/90-cloudpss-api/40-api-document/types/objects/account-challenge-update-time.mdx
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 补充0901更新日志
  blog/2025/08-26-update/OpenCloudPSS.png
  blog/2025/08-26-update/index.md
  blog/2025/09-01-update/index.md
  blog/2025/09-01-update/知识库AI助手.png
  blog/2025/11-14-update/_index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: 更新日志修改
  blog/2025/09-01-update/index.md
  blog/2025/09-01-update/workbench-ai-bot.png
  docs/documents/software/90-cloudpss-api/30-quick-start/40-query-action/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com, @tanzhd@foxmail.com

v5.4.28
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 补充11/21更新日志
  blog/2025/11-14-update/OpenCloudPSS1.png
  blog/2025/11-14-update/_index.md
  blog/2025/11-14-update/image1.png
  blog/2025/11-14-update/index.md
  docs/cases/10-SubstationCase/_index.md
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com, @tanzhd@foxmail.com, @15082920203@163.com

docs: 修改11/21更新日志
  blog/2025/11-21-update/AI助手.png
  blog/2025/11-21-update/OpenCloudPSS.png
  blog/2025/11-21-update/OpenCloudPSS1.png
  blog/2025/11-21-update/image-9_1.png
  blog/2025/11-21-update/image1.png
  blog/2025/11-21-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: 修改11/21更新日志
  blog/2025/11-21-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

build: update deps
  package.json
  pnpm-lock.yaml
  tools/docs-to-pdf/package.json
  tools/docs-to-pdf/pnpm-lock.yaml
  tools/docs-to-pdf/src/print-page.ts
  tools/pangu.js
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 添加3机9节点测试系统
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/results-gen-pq.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/results-gen-wr.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/results-v-1.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/results-v.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/wscc-3m9b-cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/wscc-3m9b-topology.png
  docs/documents/software/20-emtlab/50-emts/20-job-config/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 4m2a四机两区域标准测试系统
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/PowerFlowResults_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/PowerFlowResults_cloudpss_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithTGR_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithoutAVR_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithoutTGR_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithoutTGR_WithPSS_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/topo_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/topo_4m2a_cloudpss.png
  docusaurus/navbars.ts
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

docs: 补充IEEE118节点算例文档
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/60-ieee-118-bus-system/IEEE118-cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/60-ieee-118-bus-system/IEEE118-topy.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/60-ieee-118-bus-system/ieee118cdf.txt
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/60-ieee-118-bus-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 增加IEEE14节点文档
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/IEEE14_1.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/IEEE14_2.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/IEEE14_3.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/IEEE14_4.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/IEEE14_5.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/IEEE14_6.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/case14B.txt
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 补充IEEE30节点案例文档，修改完善IEEE39节点案例文档，补充同步发电机文档中参数折算方法
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/40-ieee-30-bus-system/IEEE30-cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/40-ieee-30-bus-system/IEEE30-tuopu.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/40-ieee-30-bus-system/ieee30cdf.txt
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/40-ieee-30-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/IEEE PES Task Force on Benchmark Systems for Stability Controls.pdf
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/IEEE39_3.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/IEEE39_4.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/IEEE39_5.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/IEEE39_6.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/IEEE39_7.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/120-SyncGeneratorRouter/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 更新118节点算例拓扑
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/60-ieee-118-bus-system/IEEE118-cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/60-ieee-118-bus-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 暂存针对IEEE标准案例与保护案例的统一化修改
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/_case.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/_current.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/_currentprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/_log1.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/_outputchannel.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/_source.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/_trip1.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/IEEE PES Task Force on Benchmark Systems for Stability Controls.pdf
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithTGR_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithoutAVR_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithoutTGR_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/WithoutTGR_WithPSS_4m2a.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/10-ieee-4-gen-2-area-system/topo_4m2a_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/20-ieee-3-gen-9-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/30-ieee-14-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/40-ieee-30-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-wscc-ieee-standard-systems/50-ieee-10-gen-39-bus-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

build: update deps
  docusaurus/utils.ts
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 隐藏IEEE300算例文档；修改保护案例中的算例地址形式，实现不同服务器地址的自动解析
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/10-distance-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/20-pilot-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/30-current-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/50-zero-voltage-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/60-compound-voltage-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/70-reclose-case/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/70-ieee-300-bus-system/_index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 更新四机两区域文档
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/10-kundur-4-gen-2-area-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/10-kundur-4-gen-2-area-system/topo_4m2a.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 更新WSCC-3文档
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/20-wscc-3-gen-9-bus-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 更新WSCC/IEEE标准系统文档，修改算例地址形式，替换4机2区、14节点系统文档的算例拓扑图，
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/10-kundur-4-gen-2-area-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/10-kundur-4-gen-2-area-system/topo_4m2a_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/20-wscc-3-gen-9-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/30-ieee-5-gen-14-bus-system/IEEE14_2.png
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/30-ieee-5-gen-14-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/40-ieee-30-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/50-ieee-10-gen-39-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/60-ieee-118-bus-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

feat: 添加聊天功能可用性检查
  src/components/Chat/chat.tsx
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat: 移除特定域名检查并修复HOME_URL类型断言
  src/components/Chat/chat.tsx
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 补充IEEEST稳定器文档；在4机2区域算例文档中，添加稳定器与励磁器文档的超链接
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/10-kundur-4-gen-2-area-system/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/190-ieee-standard-pss/20-_IEEEST/IEEEST.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/190-ieee-standard-pss/20-_IEEEST/_parameters.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/190-ieee-standard-pss/20-_IEEEST/_pins.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/190-ieee-standard-pss/20-_IEEEST/index.md
  tools/comp-docs.js
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

docs: IEEE标准系统、保护系统文档最终审阅修改
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/40-ieee-30-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/50-ieee-10-gen-39-bus-system/index.md
  docs/cases/10-emtlab/10-typical-cases/60-standard-systems/60-ieee-118-bus-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修复提交报错
  docusaurus/navbars.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 补充博客更新日志中储能变流器的一条更新记录
  blog/2025/12-15-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

v5.4.29
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复距离保护案例中的一个显示错误；更新新能源标准模型、CSEE标准算例及储能变流器模型文档中的算例地址的形式与版本号
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/10-distance-protection-case/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/10-wtg_pmsg/10-wtg_pmsg_01/10-wtg_pmsg_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/10-wtg_pmsg/10-wtg_pmsg_01/20-wtg_pmsg_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/10-wtg_pmsg/10-wtg_pmsg_01/30-wtg_pmsg_01-fdm-std-v2/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/10-wtg_pmsg/10-wtg_pmsg_01/40-wtg_pmsg_01-avm-std-v2/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/20-wtg_dfig/10-wtg_dfig_01/10-wtg_dfig_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/20-wtg_dfig/10-wtg_dfig_01/20-wtg_dfig_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/30-wtg_pmsg_f/10-wtg_pmsg_01-avm-stdm-v2/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/40-wtg_dfig_f/10-wtg_dfig_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pvs/10-pvs_01/10-pvs_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pvs/10-pvs_01/20-pvs_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/30-pvs_f/10-pvs_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/10-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/20-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/30-csee_fs-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/50-csee_vs_vc-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/60-csee_vs_clv-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/70-csee_pfo_temporary-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/80-csee_pfo_continuous-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.30
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: custom list
  docs/cases-old/index.md
  src/components/DocExpandList/index.tsx
  src/components/DocExpandList/styles.module.css
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

Revert "fix: custom list"
  docs/cases-old/index.md
  src/components/DocExpandList/index.tsx
  src/components/DocExpandList/styles.module.css
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  package.json
  pnpm-lock.yaml
  tools/comp-docs.js
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com       @tanzhd@foxmail.com     @1094779545@qq.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com      
docs/documents/archived-content/**              @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/maintenance-tools/**             @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/guide/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/hardware/**                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software-tools/**                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/30-ieslab/**            @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/20-emtlab/**            @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/documents/software/10-xstudio/**           @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
docs/documents/software/40-dslab/**             @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com
docs/cases/10-emtlab/**                         @15082920203@163.com    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
