Repository CloudPSS/docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com, @cupxy@foxmail.com, @15082920203@163.com

v5.4.14
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 在储能变流器系统三篇文档中，增加清华团队的介绍。
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.15
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改了储能变流器系统中清华团队的描述，删去了新能源标准封装模型中标准算例的超链接。
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/30-wtg_pmsg_f/10-wtg_pmsg_01-avm-stdm-v2/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/40-wtg_dfig_f/10-wtg_dfig_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/30-pvs_f/10-pvs_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: XStudio文档更新
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/20-custom_octave_electrical-std-v1/index.md
  docs/documents/software/10-xstudio/30-funcstudio/70-funcstion-design/30-formatting-output/index.md
  docs/documents/software/10-xstudio/30-funcstudio/70-funcstion-design/30-formatting-output/scatter1.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/image-1.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/image-2.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/image-3.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/image-4.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/image-5.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/image-6.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/image.png
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/70-file-selector/index.md
  docusaurus/navbars.ts
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

docs: 修改CSEE标准算例名称
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee-ras-aperiodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/20-csee-ras-periodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/30-csee-fs-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/40-csee-ulo-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-csee-vs-vc-1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/60-csee-vs-clv-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/70-csee-pfo-temporary-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/index.md
  docusaurus/navbars.ts
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

docs: 修改CSEE标准算例名称
  docs/documents/software/10-xstudio/40-appstudio/60-widget-library/10-input/10-input-box/index.md
Owners: @1094779545@qq.com, @opportunity@live.in, @sykfmlrc@163.com

docs: 修复研究型案例CSEE标准算例链接
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修复csee算例链接
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.16
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.17
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改CSEE标准算例命名
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/40-csee_ulo-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.18
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复新能源标准封装模型中的csee标准算例链接，修改光伏模型中光照强度单位错误的问题。
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/30-wtg_pmsg_f/10-wtg_pmsg_01-avm-stdm-v2/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/40-wtg_dfig_f/10-wtg_dfig_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pvs/10-pvs_01/10-pvs_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pvs/10-pvs_01/20-pvs_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/30-pvs_f/10-pvs_01-avm-stdm-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.19
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.20
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 添加CSEE-FS标准算例文档
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/bpa_high_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/bpa_low_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/bpa_pv_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/cloudpss_high_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/cloudpss_low_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/csee_fs_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/fault_time_set.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/topology_of_csee_fs_main_grid.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改CSEE-FS文档
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/bpa_high_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/bpa_low_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/bpa_pv_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/cloudpss_high_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/cloudpss_low_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/csee_fs_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/fault_time_set.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/topology_of_csee_fs_main_grid.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/bpa_high_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/bpa_low_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/cloudpss_high_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/cloudpss_low_frequency.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/fault_time_set.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/50-frequency-stability/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改CSEE-FS文档
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: RAS算例提交
  docs/cases/10-emtlab/10-typical-cases/110-security-and-stability-control-strategies/10-ieee39-ssc-demo/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/bpa_das.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/cloudpss_csee_ras_periodic.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/cloudpss_das.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/csee_das_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/topology_of_csee_das_main_grid.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/bpa_tas.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/cloudpss_tas.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/csee_tas_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/topology_of_csee_tas_main_grid.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加CSEE-VS帮助文档
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/voltage-collapse-500kV-BPA.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/voltage-collapse-500kV-CloudPSS.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/voltage-collapse-PV.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/voltage-collapse-topology-cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/voltage-collapse-topology.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/continuous-low-voltage-500kV-BPA.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/continuous-low-voltage-500kV-CloudPSS.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/continuous-low-voltage-PV.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/continuous-low-voltage-topology-cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/continuous-low-voltage-topology.png
  docusaurus/navbars.ts
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

docs: 修改回cases_old
  docusaurus/navbars.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: RAS更新错误
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/bpa_tas.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/cloudpss_tas.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/csee_tas_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/topology_of_csee_tas_main_grid.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/bpa_das.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/cloudpss_csee_ras_periodic.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/cloudpss_csee_ras_periodic1.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/cloudpss_das.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/csee_das_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/topology_of_csee_das_main_grid.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改CSEE_VS帮助文档
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加原始标准算例下载链接
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加原始标准算例下载链接
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 清理RAS旧文件，新增文献
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/_新型电力系统标准算例(一)：功角稳定CSEE-RAS.pdf
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/bpa_das.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/cloudpss_csee_ras_periodic.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/cloudpss_das.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/csee_das_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/10-csee_ras_periodic-v1/topology_of_csee_das_main_grid.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/bpa_tas.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/cloudpss_tas.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/csee_tas_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/15-csee_ras_aperiodic-v1/topology_of_csee_tas_main_grid.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: CSEE标准算例-稳态工频过电压，CSEE标准算例-暂时工频过电压
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/bpa_pmsg_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/bpa_pv_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/bpa_temporary_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/cloudpss_temporary_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/csee_pfo_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/topology_of_csee_pfo_main_grid.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/bpa_continuous_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/bpa_pmsg_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/bpa_pv_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/cloudpss_continuous_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/csee_pfo_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/topology_of_csee_pfo_main_grid.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改CSEE-PFO 文档
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/bpa_pmsg_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/bpa_pv_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/bpa_temporary_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/cloudpss_temporary_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/csee_pfo_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/topology_of_csee_pfo_main_grid.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/bpa_continuous_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/bpa_pmsg_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/bpa_pv_parameters.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/cloudpss_continuous_pfo.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/csee_pfo_main_grid_in_cloudpss.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/topology_of_csee_pfo_main_grid.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 隐藏CSEE超低频振荡算例文档
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/40-csee_ulo-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加原始标准算例下载链接
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加CSEE-PFO原始算例下载链接
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加对应文献
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/新型电力系统标准算例(三)：电压稳定CSEE-VS.pdf
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.21
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复新迁移CSEE算例无效链接
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/10-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/20-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/30-csee_fs-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/50-csee_vs_vc-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/60-csee_vs_clv-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/70-csee_pfo_temporary-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/80-csee_pfo_continuous-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 调整典型案例文档结构
  docs/cases/10-emtlab/10-typical-cases/110-security-and-stability-control-strategies/10-ieee39-ssc-demo/index.md
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/fault-setting-1.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/fault-setting-2.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/ieee39.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/index.md
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/judge-setting.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/load-bus-voltage.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/monitor-setting-1.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/monitor-setting-2.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/operation-setting-1.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/operation-setting-2.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/power-angle.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/result-1.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/result-2.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/result-3.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/security-control-module-connect.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/security-control-module.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/security-control-setting.png
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/10-csee_ras_aperiodic-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/30-csee_fs-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/40-csee_ulo-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/50-csee_vs_vc-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/60-csee_vs_clv-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/70-csee_pfo_temporary-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/80-csee_pfo_continuous-v1/_index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.22
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 隐藏CSEE案例文档参考文献链接及修改调试日志
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/10-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/20-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/50-csee_vs_vc-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/60-csee_vs_clv-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修复CSEE算例地址
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/10-csee_ras_aperiodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/20-csee_ras_periodic-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/30-csee_fs-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/50-csee_vs_vc-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.23
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com       @tanzhd@foxmail.com     @1094779545@qq.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com      
docs/documents/archived-content/**              @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/maintenance-tools/**             @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/guide/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/hardware/**                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software-tools/**                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/30-ieslab/**            @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/20-emtlab/**            @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/documents/software/10-xstudio/**           @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
docs/documents/software/40-dslab/**             @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com
docs/cases/10-emtlab/**                         @15082920203@163.com    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
