Repository CloudPSS/docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com, @cupxy@foxmail.com, @15082920203@163.com

docs: format doc
  blog/2024/08-23-update/index.md
  blog/2024/12-30-update/index.md
  blog/2025/08-26-update/index.md
  blog/2025/09-01-update/index.md
  blog/2025/12-15-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改graphql api query和mutaion文档
  docs/documents/software/80-sdk-python/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/40-query-action/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/50-mutation-action/index.md
  docs/documents/software/90-cloudpss-api/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改完善cloudpss api query文档
  docs/documents/software/90-cloudpss-api/30-quick-start/40-query-action/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改SDK文档
  docs/documents/software/80-sdk-python/10-introduction-to-sdk/index.md
  docs/documents/software/80-sdk-python/20-user-guide/index.md
  docs/documents/software/80-sdk-python/30-installation-and-uninstallation/index.md
  docs/documents/software/80-sdk-python/70-api/10-model/index.md
  docs/documents/software/80-sdk-python/70-api/20-function-execution/index.md
  docs/documents/software/80-sdk-python/70-api/30-job/index.md
  docs/documents/software/80-sdk-python/70-api/40-result/index.md
  docs/documents/software/80-sdk-python/70-api/50-ieslab/index.md
  docs/documents/software/80-sdk-python/70-api/60-dslab/index.md
  docs/documents/software/80-sdk-python/70-api/70-views/_index.md
  docs/documents/software/80-sdk-python/70-api/index.md
  docs/documents/software/80-sdk-python/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 完善CloudPSS GraphQL API 快速入门开发示例
  docs/documents/software/90-cloudpss-api/30-quick-start/40-development-example/advanced-example.png
  docs/documents/software/90-cloudpss-api/30-quick-start/40-development-example/example.png
  docs/documents/software/90-cloudpss-api/30-quick-start/40-development-example/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/40-query-action/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/50-mutation-action/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/60-data-types/index.md
  docs/documents/software/90-cloudpss-api/30-quick-start/70-development-example/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 更新DSLab储能规划与可靠性模块文档
  docs/documents/software/40-dslab/100-storage-plan-module/20-job-config/access_node_config.png
  docs/documents/software/40-dslab/100-storage-plan-module/20-job-config/configuration.png
  docs/documents/software/40-dslab/100-storage-plan-module/20-job-config/index.md
  docs/documents/software/40-dslab/130-reliability-calculation-module/10-fundamentals/algorithm_fzi.png
  docs/documents/software/40-dslab/130-reliability-calculation-module/10-fundamentals/algorithm_nse.png
  docs/documents/software/40-dslab/130-reliability-calculation-module/10-fundamentals/index.md
  docs/documents/software/40-dslab/130-reliability-calculation-module/20-job-config/configuration.png
  docs/documents/software/40-dslab/130-reliability-calculation-module/20-job-config/index.md
  docs/documents/software/40-dslab/130-reliability-calculation-module/30-results-tab/index.md
  docs/documents/software/40-dslab/130-reliability-calculation-module/30-results-tab/load_indices.png
  docs/documents/software/40-dslab/130-reliability-calculation-module/30-results-tab/overview.png
  docs/documents/software/40-dslab/130-reliability-calculation-module/30-results-tab/start.png
  docs/documents/software/40-dslab/130-reliability-calculation-module/30-results-tab/system_indices.png
Owners: @cupxy@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 更新DSLab储能规划与可靠性模块文档
  docs/documents/software/40-dslab/130-reliability-calculation-module/10-fundamentals/index.md
Owners: @cupxy@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 《+/-800-1000kV 特高压直流系统》与《双端模块化多电平变流器》案例新版初稿撰写
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/_index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/controller_diagram.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/converter_valve_diagram.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/ctrl.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/ctrl_model.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/electric_diagram.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/fault_alpha.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/fault_rectify_dc_current.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/fault_rectify_dc_power.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/fault_rectify_dc_volt.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/filter_diagram.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/param_config.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/MMC2.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/MMC3.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/MMC4.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/MMC5.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/MMC6.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/_index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/ctrl.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/param_config.png
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/topo.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 增加DSLab SDK 韧性与可靠性、Run封装接口文档
  docs/documents/software/80-sdk-python/60-dslab-sdk/10-quick-start/10-quick-start/acquire_id.png
  docs/documents/software/80-sdk-python/60-dslab-sdk/10-quick-start/10-quick-start/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/100-advanced-case10/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/110-advanced-case11/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/120-advanced-case12/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/40-advanced-case4/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/50-advanced-case5/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/60-advanced-case6/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/70-advanced-case7/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/80-advanced-case8/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/90-advanced-case9/index.md
  docs/documents/software/80-sdk-python/70-api/40-result/index.md
  docs/documents/software/80-sdk-python/70-api/60-dslab/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 隐藏emtlab uhvdc与cigre典型案例
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/50-lcc_uhvdc/_index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/30-mmc_cigre/_index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 迁移并更新旧版DSLab SDK文档，修复dslab案例链接不存在的问题；
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/10-advanced-case1/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/110-advanced-case11/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/20-advanced-case2/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/30-advanced-case3/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/80-advanced-case8/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 迁移并更新旧版DSLab SDK文档，修复dslab案例链接不存在的问题
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/10-advanced-case1/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/20-advanced-case2/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复错误tags
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/10-advanced-case1/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复tags错误
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/10-advanced-case1/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/20-advanced-case2/index.md
  docs/documents/software/80-sdk-python/60-dslab-sdk/20-advanced/30-advanced-case3/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 更新新能源封装元件的模型地址版本号
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/30-wtg_pmsg_f/10-wtg_pmsg_01-avm-stdm-v2/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/40-wtg_dfig_f/10-wtg_dfig_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/30-pvs_f/10-pvs_01-avm-stdm-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.31
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修正“特高压混合分层直流输电系统”模型截图
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/30-hybrid/20-HVDC_Hybrid_HI-fdm-std-v1/HVDC_Hybrid_HI-fdm-std-v1.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.32
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 添加静态负载使用说明
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/30-_newExpLoad_3p/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 在并联电容/电抗器元件说明文档中，补充等效电路图与功率量测方向说明
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/10-_newShuntLC_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/10-_newShuntLC_3p/shunt_capacitor_circuit.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/10-_newShuntLC_3p/shunt_reactor_circuit.png
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 补充三相三绕组变压器的原理图，说明三绕组变压器标幺制基准功率的计算方法
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/三绕组变压器.png
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 补充02-03更新日志
  blog/2026/02-03-update/OpenCloudPSS1.png
  blog/2026/02-03-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: 更新日志补充 truncation markers
  blog/2026/02-03-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: 完善断路器元件帮助文档，增加初始状态注意事项
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/100-_newBreaker_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/90-_newBreaker_1p/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 完善断路器元件帮助文档，增加初始状态注意事项
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/100-_newBreaker_3p/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 补充更新日志
  blog/2026/02-03-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

v5.4.33
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 在多相分线器说明文档中，新增使用说明和注意事项； 修改IEEE 39 节点安控策略配置说明文档中文字性错误内容； 修改多模块 SST说明文档中文字性错误内容； 修改半桥模块说明文档中模型截图； 修改常量输入说明文档中使用说明及截图； 修改角度转换器说明文档中使用说明；
  docs/cases/10-emtlab/10-typical-cases/140-security-and-stability-control-strategies/10-ieee-39-ssc-demo/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/120-_BusConnector/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/60-power-electronic-modules/100-_NSSTsModule/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/60-power-electronic-modules/40-_HalfBridgeModule/HalfBridge_unitest.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/60-power-electronic-modules/40-_HalfBridgeModule/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/30-_newConstant/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/30-_newConstant/set_constant.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/40-control-nonlinear-functions/30-_newAngleResolver/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 更新同步电机文档
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/120-SyncGeneratorRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/120-SyncGeneratorRouter/wang-vbr-model.pdf
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/120-SyncGeneratorRouter/xia-pd-model.pdf
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 解决冲突
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/80-_newTransformer_1p/classical-transformer.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/80-_newTransformer_1p/coupled-windings.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/80-_newTransformer_1p/ideal-transformer.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/80-_newTransformer_1p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/80-_newTransformer_1p/magnetization-characteristic.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/100-_newTransformer_3p2w/classical-transformer.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/100-_newTransformer_3p2w/coupled-windings.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/100-_newTransformer_3p2w/ideal-transformer.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/100-_newTransformer_3p2w/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/100-_newTransformer_3p2w/magnetization-characteristic.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/classical-transformer.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/coupled-windings.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/ideal-transformer.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/magnetization-characteristic.png
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修正三相三绕组变压器部分公式格式
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/110-_newTransformer_3p3w/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 补充元件更新日志
  blog/2026/02-03-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

v5.4.34
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.35
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  package.json
  pnpm-lock.yaml
  src/components/Chat/chat.module.css
  src/components/Chat/chat.tsx
  src/css/chat.css
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 更新MMC元件及相关案例的版本号
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/40-MMC-fdm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/50-HVDC_MMC_SP-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/60-HVDC_MMC_BP-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/70-HVDC_MMC_HI-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/80-HVDC_MMC_MT-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/20-mmc/90-HVDC_MMC_WF-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/30-hybrid/20-HVDC_Hybrid_HI-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/30-hybrid/30-HVDC_Hybrid_MT-fdm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

build: update to v4
  .browserslistrc
  babel.config.js
  docusaurus.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/css/code.css
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 更新LCC元件及相关案例的版本号
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/100-HVDC_LCC_MT-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/60-LCC-fdm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/70-HVDC_LCC_SP-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/80-HVDC_LCC_BP-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/10-lcc/90-HVDC_LCC_HI-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/30-hybrid/20-HVDC_Hybrid_HI-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/100-dc-transmission-system/30-hybrid/30-HVDC_Hybrid_MT-fdm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com       @tanzhd@foxmail.com     @1094779545@qq.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com      
docs/documents/archived-content/**              @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/maintenance-tools/**             @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/guide/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/hardware/**                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software-tools/**                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/30-ieslab/**            @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/20-emtlab/**            @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/documents/software/10-xstudio/**           @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
docs/documents/software/40-dslab/**             @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com
docs/cases/10-emtlab/**                         @15082920203@163.com    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
