Repository CloudPSS/docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com, @cupxy@foxmail.com, @15082920203@163.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com       @tanzhd@foxmail.com     @1094779545@qq.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com      
docs/documents/archived-content/**              @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/maintenance-tools/**             @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/guide/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/hardware/**                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software-tools/**                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/30-ieslab/**            @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/20-emtlab/**            @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/documents/software/10-xstudio/**           @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
docs/documents/software/40-dslab/**             @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com
docs/cases/10-emtlab/**                         @15082920203@163.com    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

5.4.42
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: casehub屏蔽dslab案例
  docs/casehub/30-dslab/_index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: casehub隐藏dslab
  docs/casehub/30-dslab/10-typical-cases/_index.md
  docs/casehub/30-dslab/20-academic-cases/_index.md
  docs/casehub/30-dslab/30-third-party-cases/_index.md
  docs/casehub/30-dslab/_index.md
  docusaurus/navbars.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改casehub架构
  docs/casehub/10-emtlab/20-opencloudpss-cases/20-csee-standard-cases/40-csee_ulo-v1/_index.md
  docs/casehub/20-ieslab/10-simulation-suite/20-academic-cases/_index.md
  docs/casehub/20-ieslab/10-simulation-suite/30-third-party-cases/_index.md
  docs/casehub/20-ieslab/20-heuristic-planning-suite/20-academic-cases/_index.md
  docs/casehub/20-ieslab/20-heuristic-planning-suite/30-third-party-cases/_index.md
  docs/casehub/20-ieslab/30-planning-suite/20-academic-cases/_index.md
  docs/casehub/20-ieslab/30-planning-suite/30-third-party-cases/_index.md
  docs/casehub/30-dslab/10-typical-cases/_index.md
  docs/casehub/30-dslab/20-academic-cases/_index.md
  docs/casehub/30-dslab/30-third-party-cases/_index.md
  docs/casehub/30-dslab/index.md
  docs/casehub/40-xstudio/20-academic-cases/_index.md
  docs/casehub/40-xstudio/30-third-party-cases/_index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat: 新增 workbuddy mcp接入
  docs/documents/software-tools/30-mcp/cloudpss-mcp-authorization.png
  docs/documents/software-tools/30-mcp/codex-authorization.png
  docs/documents/software-tools/30-mcp/index.md
  docs/documents/software-tools/30-mcp/opencode-authorization.png
  docs/documents/software-tools/30-mcp/workbuddy-authorization.png
  docs/documents/software-tools/30-mcp/workbuddy-mcp-conifg.png
  docs/documents/software-tools/30-mcp/workbuddy-mcp-open.png
Owners: @opportunity@live.in, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: casehub添加直流电机驱动文档
  docs/casehub/10-emtlab/20-typical-cases/10-rotating-machines-and-controls/30-dc-motor-drive/_index.md
  docs/casehub/10-emtlab/20-typical-cases/10-rotating-machines-and-controls/30-dc-motor-drive/armature-field-current.png
  docs/casehub/10-emtlab/20-typical-cases/10-rotating-machines-and-controls/30-dc-motor-drive/dc-motor-topology.png
  docs/casehub/10-emtlab/20-typical-cases/10-rotating-machines-and-controls/30-dc-motor-drive/index.md
  docs/casehub/10-emtlab/20-typical-cases/10-rotating-machines-and-controls/30-dc-motor-drive/speed.png
  docs/casehub/10-emtlab/20-typical-cases/10-rotating-machines-and-controls/30-dc-motor-drive/torque.png
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改研究案例坏链接
  docs/casehub/10-emtlab/30-academic-cases/10-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat: 添加文档扩展列表样式和模板图片处理功能
  docs/cases-old/index.md
  docs/cases/index.md
  src/components/DocExpandList/assets/MODEL_CLOUDPSS_ACDCHYBRIDCASE.webp
  src/components/DocExpandList/assets/MODEL_CLOUDPSS_IEEE3.webp
  src/components/DocExpandList/assets/MODEL_CLOUDPSS_IEEE39.webp
  src/components/DocExpandList/assets/MODEL_CLOUDPSS_SUBSTATIONCASE.webp
  src/components/DocExpandList/cover.webp
  src/components/DocExpandList/index.tsx
  src/components/DocExpandList/styles.module.css
  src/components/DocExpandList/template-record.ts
  src/components/DocExpandList/webp.d.ts
  tools/template-pic-fetch.js
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改参数表引用地址错误问题，完善综合负荷模型、绕线式感应电机、RLC、三相功率量测、戴维南等值电压源、电流表元件的原理部分和使用说明
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/30-_newExpLoad_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/50-rotating-machines/20-WoundRotorIMRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/10-_NewBranchVoltageMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/50-_newPowerMeter_3p/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改戴维南等值电源、绕线式感应电机等
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/armature-field-current.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/dc-motor-topology.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/index.md
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/speed.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/torque.png
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 综合负荷、戴维南等效电源、绕线式感应电机等总共12个元件的参数卡链接修复和使用说明
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/140-SyntheticLoad/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/30-_newExpLoad_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/50-Thevenin_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/50-rotating-machines/20-WoundRotorIMRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/10-_NewBranchVoltageMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/10-_NewBranchVoltageMeter/rlc-case3-topology.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/10-_NewBranchVoltageMeter/rlc-case3-v.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/_parameters.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/_pins.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/rlc-U-topology.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/rlc-UM-voltage.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/rlc-I-topology.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/rlc-IM-current.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/50-_newPowerMeter_3p/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 初版，量测元件
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/140-SyntheticLoad/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/50-Thevenin_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-case1.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-case2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-params.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-params2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-waveform2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-waveform3.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/10-_NewBranchVoltageMeter/voltmeter-branch.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/voltmeter-ground.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/ammeter.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/rms-meter.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/rms-output-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/rms-wiring.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/50-_newPowerMeter_3p/power-meter.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/50-_newPowerMeter_3p/power-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/50-_newPowerMeter_3p/power-wiring.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/60-_newPLL/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 完善电压表、支路电压表、电流表、RMS、三相功率测量(瞬时功率/PLL)、静态负载、综合负荷模型、三相可控静态负载、三相戴维南等值电源、绕线式感应电机、RLC元件的原理部分和使用说明
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/140-SyntheticLoad/composite-load-model.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/140-SyntheticLoad/composite-load-principle.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/controllable-load-wiring.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/load-current-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/load-power-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/load-voltage-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/three-phase-controllable-load.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/30-_newExpLoad_3p/static-load.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/50-Thevenin_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/50-Thevenin_3p/three-phase-thevenin-source.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/50-rotating-machines/20-WoundRotorIMRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/50-rotating-machines/20-WoundRotorIMRouter/wound-rotor-induction-motor.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/power-meter-pll.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/power-pll-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/power-pll-wiring.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/60-_newPLL/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 直流驱动电机案例文档
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/dc-motor-topology.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/30-dc-motor/index.md
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/armature-field-current.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/dc-motor-topology.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/index.md
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/speed.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/torque.png
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改戴维南等效电压源电压公式、语句不通顺的问题；RMS量测元件根据PSCAD文档重新编写；RLC矩阵添加可下载附件案例；静态负载恢复初始文档；综合负荷添加负载率计算
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/140-SyntheticLoad/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/30-_newExpLoad_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/30-_newExpLoad_3p/static-load.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/50-Thevenin_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/50-rotating-machines/20-WoundRotorIMRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC_comptest.cmdl
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改静态负载代码中的错误
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/30-_newExpLoad_3p/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 完成RLC矩阵使用说明、绕线式感应电机、三相功率量测（PLL）的修改
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/140-SyntheticLoad/composite-load-principle.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/140-SyntheticLoad/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/20-_newCtrlLoad_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/50-Thevenin_3p/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/50-rotating-machines/20-WoundRotorIMRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC1.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC3.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC4.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC5.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC6.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC7.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC8.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC9.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/RLC_comptest.cmdl
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-case1.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-case2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-params.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-params2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-params3.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-params4.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-waveform.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-waveform2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/80-advanced/40-RLCMatrix/rlc-waveform3.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/10-_NewBranchVoltageMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/100-PLL-power/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/rlc-U-topology.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/rlc-UM-voltage.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/rlc-case3-topology.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/20-_NewVoltageMeter/rlc-case3-voltage.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/rlc-1.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/rlc-2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/rlc-IM-current.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/rlc-case3-current.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/30-_NewCurrentMeter/rlc-case3-topology.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/40-RMSRouter/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/30-measurement/10-basic/50-_newPowerMeter_3p/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 更新DSLab规划优化与可靠性模块说明文档
  docs/documents/software/40-dslab/100-plan-optimize-module/10-fundamentals/frame.png
  docs/documents/software/40-dslab/100-plan-optimize-module/10-fundamentals/index.md
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/component-capacitor-storage.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/component-dg.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/component-load.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/component-transformer-line.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/config_basic.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/config_constraints.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/config_plan.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/configuration.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/dg_candidates.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/dg_curves.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/es_candidates.png
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/index.md
  docs/documents/software/40-dslab/100-plan-optimize-module/20-job-config/run.png
  docs/documents/software/40-dslab/100-plan-optimize-module/30-results-tab/index.md
  docs/documents/software/40-dslab/100-plan-optimize-module/30-results-tab/overview.png
  docs/documents/software/40-dslab/100-plan-optimize-module/30-results-tab/start.png
  docs/documents/software/40-dslab/100-plan-optimize-module/30-results-tab/statistics.png
  docs/documents/software/40-dslab/100-plan-optimize-module/30-results-tab/topo.png
  docs/documents/software/40-dslab/100-plan-optimize-module/index.md
  docs/documents/software/40-dslab/100-storage-plan-module/10-fundamentals/index.md
  docs/documents/software/40-dslab/100-storage-plan-module/10-fundamentals/solve_model.png
  docs/documents/software/40-dslab/100-storage-plan-module/10-fundamentals/solver_steps.png
  docs/documents/software/40-dslab/100-storage-plan-module/20-job-config/access_node_config.png
  docs/documents/software/40-dslab/100-storage-plan-module/20-job-config/basic.png
  docs/documents/software/40-dslab/100-storage-plan-module/20-job-config/configuration.png
  docs/documents/software/40-dslab/100-storage-plan-module/20-job-config/index.md
  docs/documents/software/40-dslab/100-storage-plan-module/30-results-tab/index.md
  docs/documents/software/40-dslab/100-storage-plan-module/30-results-tab/start.png
  docs/documents/software/40-dslab/100-storage-plan-module/30-results-tab/storage-results-overview.png
  docs/documents/software/40-dslab/100-storage-plan-module/30-results-tab/storage-results-topo.png
  docs/documents/software/40-dslab/100-storage-plan-module/index.md
  docs/documents/software/40-dslab/20-user-guide/index.md
Owners: @cupxy@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 更新可靠性算法流程图为中文
  docs/documents/software/40-dslab/130-reliability-calculation-module/10-fundamentals/algorithm_fzi.png
  docs/documents/software/40-dslab/130-reliability-calculation-module/10-fundamentals/algorithm_nse.png
Owners: @cupxy@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

build: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/docs-to-pdf/package.json
  tools/docs-to-pdf/pnpm-lock.yaml
  tools/docs-to-pdf/src/config.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 删掉casehub多余案例
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/armature-field-current.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/dc-motor-topology.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/index.md
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/speed.png
  docs/casehub/10-emtlab/10-typical-cases/10-rotating-machines-and-controls/50-dc-motor/torque.png
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat: 研究案例增加自定义卡片页面支持
  docs/casehub/10-emtlab/30-academic-cases/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat: improve print pdf
  src/components/Chat/chat.tsx
  tools/docs-to-pdf/src/print-page.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.43
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat: print ppdf
  tools/docs-to-pdf/src/print-page.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat(pdf): skip docs
  tools/docs-to-pdf/src/config.ts
  tools/docs-to-pdf/src/generate-pdf.ts
  tools/docs-to-pdf/src/print-page.ts
  tools/docs-to-pdf/src/print-pages.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 新增CPR文档
  docs/documents/hardware/20-rack-type/30-cloudpss-CPR6000/index.md
  docs/documents/hardware/20-rack-type/40-cloudpss-CPR7000/index.md
  docs/documents/hardware/20-rack-type/50-cloudpss-CPR9000/index.md
Owners: @opportunity@live.in, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com
