Repository CloudPSS/Docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com, @cupxy@foxmail.com, @704879658@qq.com, @tanzhd@foxmail.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/archived-content/**                        @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/developer-tools/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/guide/**                                   @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/hardware/**                                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/software-tools/**                          @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/docs/software/ieslab/**                    @cupxy@foxmail.com      @704879658@qq.com       @sykfmlrc@163.com
docs/docs/software/emtlab/**                    @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/docs/software/xstudio/**                   @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com

feat: 新增私有部署文档
  docs/docs/soft/account/app/appstudio/index.md
  docs/docs/soft/account/app/dslab/index.md
  docs/docs/soft/account/app/funcstudio/index.md
  docs/docs/soft/account/app/ieslab/index.md
  docs/docs/soft/account/app/simstuido/index.md
  docs/docs/soft/account/guide/index.md
  docs/docs/soft/account/home/index.md
  docs/docs/soft/account/login/index.md
  docs/docs/soft/account/mini-login/index.md
  docs/docs/soft/account/others/language/index.md
  docs/docs/soft/account/others/theme/index.md
  docs/docs/soft/account/settings/information/index.md
  docs/docs/soft/account/settings/organization/index.md
  docs/docs/soft/account/settings/queue/index.md
  docs/docs/soft/account/settings/sdk-token/index.md
  docs/docs/soft/account/settings/security/index.md
  docs/docs/soft/account/settings/strategy/index.md
  docs/docs/soft/account/settings/task/index.md
  docs/docs/soft/account/settings/users/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com

feat: 新增私有部署文档
  docs/docs/soft/account/app/appstudio/index.md
  docs/docs/soft/account/app/dslab/index.md
  docs/docs/soft/account/app/funcstudio/index.md
  docs/docs/soft/account/app/ieslab/index.md
  docs/docs/soft/account/app/simstuido/index.md
  docs/docs/soft/account/guide/index.md
  docs/docs/soft/account/home/index.md
  docs/docs/soft/account/login/index.md
  docs/docs/soft/account/mini-login/index.md
  docs/docs/soft/account/others/language/index.md
  docs/docs/soft/account/others/theme/index.md
  docs/docs/soft/account/settings/information/index.md
  docs/docs/soft/account/settings/organization/index.md
  docs/docs/soft/account/settings/queue/index.md
  docs/docs/soft/account/settings/sdk-token/index.md
  docs/docs/soft/account/settings/security/index.md
  docs/docs/soft/account/settings/strategy/index.md
  docs/docs/soft/account/settings/task/index.md
  docs/docs/soft/account/settings/users/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com

docs: 新增sdk文档
  docs/docs/software/sdk/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com

docs: 新增用户协议文档
  docs/docs/software/license/index.md
  docs/docs/software/server-manager/login/index.md
  docs/docs/software/server-manager/login/端口登录.png
  docs/docs/software/server-manager/product-license/index.md
  docs/docs/software/server-manager/system-settings/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com

docs: 新增sdk文档
  docs/docs/software/sdk/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com

docs: 新增用户协议文档
  docs/docs/software/license/index.md
  docs/docs/software/server-manager/login/index.md
  docs/docs/software/server-manager/login/端口登录.png
  docs/docs/software/server-manager/product-license/index.md
  docs/docs/software/server-manager/system-settings/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com

docs: 更新EMTLab电磁暂态仿真文档
  docs/docs/software/emtlab/emtp/fundamental/electromagnetic-transient-simulation-flowchart.png
  docs/docs/software/emtlab/emtp/fundamental/index.md
  docs/docs/software/emtlab/emtp/fundamental/lcc.png.REMOVED.git-id
  docs/docs/software/emtlab/emtp/fundamental/new-project.png
  docs/docs/software/emtlab/emtp/fundamental/norton-equivalent-circuit-of-inductor.png
  docs/docs/software/emtlab/emtp/fundamental/norton-equivalent-circuit-of-rlc-network.png
  docs/docs/software/emtlab/emtp/fundamental/rlc-circuit.jpg
  docs/docs/software/emtlab/emtp/fundamental/run-settings.png.REMOVED.git-id
  docs/docs/software/emtlab/emtp/fundamental/simulation-result.png
  docs/docs/software/emtlab/emtp/fundamental/time-scale-of-transient-processes.png
  docs/docs/software/emtlab/emtp/index.md
  docs/docs/software/emtlab/emtp/job-configuration/advanced-setting.png
  docs/docs/software/emtlab/emtp/job-configuration/basic-setting.png
  docs/docs/software/emtlab/emtp/job-configuration/emt-simulation-scheme.png.REMOVED.git-id
  docs/docs/software/emtlab/emtp/job-configuration/index.md
  docs/docs/software/emtlab/emtp/job-configuration/run-setting.png
  docs/docs/software/emtlab/emtp/measure/index.md
  docs/docs/software/emtlab/emtp/snapshot/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 更新EMTLab电磁暂态仿真文档
  docs/docs/software/emtlab/emtp/index.md
  docs/docs/software/emtlab/emtp/job-configuration/index.md
  docs/docs/software/emtlab/emtp/measure/index.md
  docs/docs/software/emtlab/emtpcalc/basic-principle/electromagnetic-transient-simulation-flowchart.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/index.md
  docs/docs/software/emtlab/emtpcalc/basic-principle/lcc.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/new-project.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/norton-equivalent-circuit-of-inductor.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/norton-equivalent-circuit-of-rlc-network.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/rlc-circuit.jpg
  docs/docs/software/emtlab/emtpcalc/basic-principle/run-settings.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/simulation-result.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/time-scale-of-transient-processes.png
  docs/docs/software/emtlab/emtpcalc/basicprinciple/index.md
  docs/docs/software/emtlab/emtpcalc/current-section/index.md
  docs/docs/software/emtlab/emtpcalc/currentsection/index.md
  docs/docs/software/emtlab/emtpcalc/job/advanced-setting.png
  docs/docs/software/emtlab/emtpcalc/job/basic-setting.png
  docs/docs/software/emtlab/emtpcalc/job/emt-simulation-scheme.png
  docs/docs/software/emtlab/emtpcalc/job/index.md
  docs/docs/software/emtlab/emtpcalc/job/run-setting.png
  docs/docs/software/emtlab/emtpcalc/measure/index.md
  docs/docs/software/emtlab/emtpcalc/self-config/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 更新EMTLab电磁暂态仿真文档
  docs/docs/software/emtlab/emtp/index.md
  docs/docs/software/emtlab/emtp/job-configuration/index.md
  docs/docs/software/emtlab/emtp/measure/index.md
  docs/docs/software/emtlab/emtpcalc/basic-principle/electromagnetic-transient-simulation-flowchart.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/index.md
  docs/docs/software/emtlab/emtpcalc/basic-principle/lcc.png.REMOVED.git-id
  docs/docs/software/emtlab/emtpcalc/basic-principle/new-project.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/norton-equivalent-circuit-of-inductor.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/norton-equivalent-circuit-of-rlc-network.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/rlc-circuit.jpg
  docs/docs/software/emtlab/emtpcalc/basic-principle/run-settings.png.REMOVED.git-id
  docs/docs/software/emtlab/emtpcalc/basic-principle/simulation-result.png
  docs/docs/software/emtlab/emtpcalc/basic-principle/time-scale-of-transient-processes.png
  docs/docs/software/emtlab/emtpcalc/basicprinciple/index.md
  docs/docs/software/emtlab/emtpcalc/current-section/index.md
  docs/docs/software/emtlab/emtpcalc/currentsection/index.md
  docs/docs/software/emtlab/emtpcalc/job/advanced-setting.png
  docs/docs/software/emtlab/emtpcalc/job/basic-setting.png
  docs/docs/software/emtlab/emtpcalc/job/emt-simulation-scheme.png.REMOVED.git-id
  docs/docs/software/emtlab/emtpcalc/job/index.md
  docs/docs/software/emtlab/emtpcalc/job/run-setting.png
  docs/docs/software/emtlab/emtpcalc/measure/index.md
  docs/docs/software/emtlab/emtpcalc/self-config/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 更新EMTLab电磁暂态仿真文档
  docs/docs/software/emtlab/emtp/fundamental/electromagnetic-transient-simulation-flowchart.png
  docs/docs/software/emtlab/emtp/fundamental/index.md
  docs/docs/software/emtlab/emtp/fundamental/lcc.png
  docs/docs/software/emtlab/emtp/fundamental/new-project.png
  docs/docs/software/emtlab/emtp/fundamental/norton-equivalent-circuit-of-inductor.png
  docs/docs/software/emtlab/emtp/fundamental/norton-equivalent-circuit-of-rlc-network.png
  docs/docs/software/emtlab/emtp/fundamental/rlc-circuit.jpg
  docs/docs/software/emtlab/emtp/fundamental/run-settings.png
  docs/docs/software/emtlab/emtp/fundamental/simulation-result.png
  docs/docs/software/emtlab/emtp/fundamental/time-scale-of-transient-processes.png
  docs/docs/software/emtlab/emtp/index.md
  docs/docs/software/emtlab/emtp/job-configuration/advanced-setting.png
  docs/docs/software/emtlab/emtp/job-configuration/basic-setting.png
  docs/docs/software/emtlab/emtp/job-configuration/emt-simulation-scheme.png
  docs/docs/software/emtlab/emtp/job-configuration/index.md
  docs/docs/software/emtlab/emtp/job-configuration/run-setting.png
  docs/docs/software/emtlab/emtp/measure/index.md
  docs/docs/software/emtlab/emtp/snapshot/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: edit IESLab framework
  docs/docs/software/ieslab/sim/1_guide/0_center/index.md
  docs/docs/software/ieslab/sim/1_guide/1_demo/index.md
  docs/docs/software/ieslab/sim/1_guide/2_docsguide/index.md
  docs/docs/software/ieslab/sim/2_center/0_new/index.md
  docs/docs/software/ieslab/sim/2_center/1_pm/index.md
  docs/docs/software/ieslab/sim/3_data/0_meteorology/data.png.REMOVED.git-id
  docs/docs/software/ieslab/sim/3_data/0_meteorology/data1.png
  docs/docs/software/ieslab/sim/3_data/0_meteorology/edit.png
  docs/docs/software/ieslab/sim/3_data/0_meteorology/file.png
  docs/docs/software/ieslab/sim/3_data/0_meteorology/index.md
  docs/docs/software/ieslab/sim/3_data/0_meteorology/location.png.REMOVED.git-id
  docs/docs/software/ieslab/sim/3_data/1_device/export.png
  docs/docs/software/ieslab/sim/3_data/1_device/index.md
  docs/docs/software/ieslab/sim/3_data/1_device/new.png
  docs/docs/software/ieslab/sim/3_data/1_device/new1.png
  docs/docs/software/ieslab/sim/3_data/1_device/save.png
  docs/docs/software/ieslab/sim/3_data/1_device/search.png
  docs/docs/software/ieslab/sim/3_data/1_device/typical.png
  docs/docs/software/ieslab/sim/3_data/2_load/index.md
  docs/docs/software/ieslab/sim/3_data/2_load/model.png
  docs/docs/software/ieslab/sim/3_data/2_load/new.png
  docs/docs/software/ieslab/sim/3_data/2_load/new1.png
  docs/docs/software/ieslab/sim/3_data/2_load/search.png
  docs/docs/software/ieslab/sim/3_data/3_price/fuel.png
  docs/docs/software/ieslab/sim/3_data/3_price/index.md
  docs/docs/software/ieslab/sim/3_data/3_price/new.png
  docs/docs/software/ieslab/sim/3_data/3_price/new1.png
  docs/docs/software/ieslab/sim/3_data/3_price/search.png
  docs/docs/software/ieslab/sim/3_data/3_price/thermal.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-fix.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-fuel.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-stage.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-time.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-timestage.png
Owners: @cupxy@foxmail.com, @704879658@qq.com, @sykfmlrc@163.com

docs: edit IESLab framework
  docs/docs/software/ieslab/sim/1_guide/0_center/index.md
  docs/docs/software/ieslab/sim/1_guide/1_demo/index.md
  docs/docs/software/ieslab/sim/1_guide/2_docsguide/index.md
  docs/docs/software/ieslab/sim/2_center/0_new/index.md
  docs/docs/software/ieslab/sim/2_center/1_pm/index.md
  docs/docs/software/ieslab/sim/3_data/0_meteorology/data.png
  docs/docs/software/ieslab/sim/3_data/0_meteorology/data1.png
  docs/docs/software/ieslab/sim/3_data/0_meteorology/edit.png
  docs/docs/software/ieslab/sim/3_data/0_meteorology/file.png
  docs/docs/software/ieslab/sim/3_data/0_meteorology/index.md
  docs/docs/software/ieslab/sim/3_data/0_meteorology/location.png
  docs/docs/software/ieslab/sim/3_data/1_device/export.png
  docs/docs/software/ieslab/sim/3_data/1_device/index.md
  docs/docs/software/ieslab/sim/3_data/1_device/new.png
  docs/docs/software/ieslab/sim/3_data/1_device/new1.png
  docs/docs/software/ieslab/sim/3_data/1_device/save.png
  docs/docs/software/ieslab/sim/3_data/1_device/search.png
  docs/docs/software/ieslab/sim/3_data/1_device/typical.png
  docs/docs/software/ieslab/sim/3_data/2_load/index.md
  docs/docs/software/ieslab/sim/3_data/2_load/model.png
  docs/docs/software/ieslab/sim/3_data/2_load/new.png
  docs/docs/software/ieslab/sim/3_data/2_load/new1.png
  docs/docs/software/ieslab/sim/3_data/2_load/search.png
  docs/docs/software/ieslab/sim/3_data/3_price/fuel.png
  docs/docs/software/ieslab/sim/3_data/3_price/index.md
  docs/docs/software/ieslab/sim/3_data/3_price/new.png
  docs/docs/software/ieslab/sim/3_data/3_price/new1.png
  docs/docs/software/ieslab/sim/3_data/3_price/search.png
  docs/docs/software/ieslab/sim/3_data/3_price/thermal.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-fix.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-fuel.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-stage.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-time.png
  docs/docs/software/ieslab/sim/3_data/3_price/typical-timestage.png
Owners: @cupxy@foxmail.com, @704879658@qq.com, @sykfmlrc@163.com

docs: IESLab framework image edit
  docs/docs/software/ieslab/sim/1_guide/1_demo/index.md
  docs/docs/software/ieslab/sim/2_center/1_pm/index.md
  docs/docs/software/ieslab/sim/3_data/0_meteorology/index.md
  docs/docs/software/ieslab/sim/3_data/1_device/index.md
  docs/docs/software/ieslab/sim/3_data/2_load/index.md
  docs/docs/software/ieslab/sim/3_data/3_price/index.md
Owners: @cupxy@foxmail.com, @704879658@qq.com, @sykfmlrc@163.com

docs: IESLab framework image edit
  docs/docs/software/ieslab/sim/1_guide/1_demo/index.md
  docs/docs/software/ieslab/sim/2_center/1_pm/index.md
  docs/docs/software/ieslab/sim/3_data/0_meteorology/index.md
  docs/docs/software/ieslab/sim/3_data/1_device/index.md
  docs/docs/software/ieslab/sim/3_data/2_load/index.md
  docs/docs/software/ieslab/sim/3_data/3_price/index.md
Owners: @cupxy@foxmail.com, @704879658@qq.com, @sykfmlrc@163.com
