Repository CloudPSS/docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com, @cupxy@foxmail.com, @15082920203@163.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com       @tanzhd@foxmail.com     @1094779545@qq.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com      
docs/documents/archived-content/**              @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/maintenance-tools/**             @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/guide/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/hardware/**                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software-tools/**                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/30-ieslab/**            @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/20-emtlab/**            @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/documents/software/10-xstudio/**           @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
docs/documents/software/40-dslab/**             @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com
docs/cases/10-emtlab/**                         @15082920203@163.com    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

docs: 新增光伏发电01型-快速详细-标准模型、光伏发电01型-平均化-标准模型两篇文档
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs-01-fdm-std-envresults-G.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs-01-fdm-std-envresults-P.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs-01-fdm-std-envresults-T.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-environment.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-hvrt.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-lvrt.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-main.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-mppt.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-vrtcontrol.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-vrtfault.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-vrtstate.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/pvs_01-fdm-std-vsc.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs-01-avm-std-envresults-G.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs-01-avm-std-envresults-P.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs-01-avm-std-envresults-T.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-environment.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-hvrt.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-lvrt.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-main.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-mppt.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-vrtcontrol.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-vrtfault.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-vrtstate.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/pvs_01-avm-std-vsc.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/20-grid-forming-type/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改两篇跟网型光伏发电标准模型文档
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改两篇跟网型光伏发电标准模型文档v1
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/10-pvs_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pv-pvs-system/10-grid-following-type/20-pvs_01-avm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 案例命名标准化
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改旧案例显示问题
  docs/cases-old/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 新案例添加siderbar
  docusaurus/navbars.ts
  docusaurus/sidebars.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.8
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: 移除 .npmrc 文件并将配置迁移至 pnpm-workspace.yaml
  .npmrc
  pnpm-workspace.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 完成buck和boost电路案例文档初稿
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/dc_dc_buck_dm_std_i.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/dc_dc_buck_dm_std_id.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/dc_dc_buck_dm_std_main.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/dc_dc_buck_dm_std_v.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/dc_dc_buck_dm_std_vd.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_buck_boost_std_i.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_buck_boost_std_id.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_buck_boost_std_main.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_buck_boost_std_v.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_buck_boost_std_vd.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 调整文档格式，规范化图片命名
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/10-dc_dc_buck/10-dc_dc_buck-dm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_boost_dm_std_i.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_boost_dm_std_id.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_boost_dm_std_main.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_boost_dm_std_v.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/dc_dc_boost_dm_std_vd.png
  docs/cases/10-emtlab/10-typical-cases/90-power-electronic-converter-and-control/10-dc-dc/20-dc_dc_boost/10-dc_dc_boost-dm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 将光伏发电快速详细、平均化标准模型文档中的修改及调试日志改为注释
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pvs/10-pvs_01/10-pvs_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/10-pvs/10-pvs_01/30-pvs_01-avm-std-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加跟网型储能变流器-平均模型、构网型储能变流器-平均模型、跟网/构网型并网变流器-平均模型文档
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-characteristic.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-heat.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-main.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-multi.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-output.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-overall-structure.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-parameter.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-power.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-pu.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-small.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-vsc.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-characteristic.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-heat.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-main.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-multi.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-output.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-overall-structure.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-parameter.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-power.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-pu.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-small.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-vsc1.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-vsc2.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-active.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-csee.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-frequency.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-overall-structure.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-reactive.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 简单Octave和Python 控制元件案例文档
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/model_admin_Octave_Test_Case1.zip
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/model_admin_Octave_Test_Case2.zip
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/model_admin_Octave_Test_Case3.zip
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/simple_octave_control_std_climb_step_signal_generator.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/simple_octave_control_std_piecewise_function.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/simple_octave_control_std_power_meter.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/simple_octave_control_std_result_1.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/simple_octave_control_std_result_2.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/10-simple_octave_control-std-v1/simple_octave_control_std_result_3.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/model_admin_Python_Test_Case1.zip
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/model_admin_Python_Test_Case2.zip
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/model_admin_Python_Test_Case3.zip
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/simple_python_control_std_climb_step_signal_generator.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/simple_python_control_std_piecewise_function.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/simple_python_control_std_power_meter.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/simple_python_control_std_result_1.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/simple_python_control_std_result_2.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/30-simple_python_control-std-v1/simple_python_control_std_result_3.png
  docs/cases/10-emtlab/10-typical-cases/10-custom-component/40-custom_python_electrical-std-v1/index.md
  docs/documents/software/20-emtlab/30-quick-start/20-start-from-scratch/index.md
  docs/documents/software/20-emtlab/60-power-flow/20-job-config/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 保护元件库更新4
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/10-CurrentProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/30-DistanceProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/40-DifferentialProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/50-ZeroSequenceOverVoltageProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/60-CompoundVoltageOverCurrentProtection/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 保护元件库更新3
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/10-CurrentProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/30-DistanceProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/40-DifferentialProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/50-ZeroSequenceOverVoltageProtection/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/60-CompoundVoltageOverCurrentProtection/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 添加保护元件文档1
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/200-protection-basic/10-LineRelay/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/200-protection-basic/20-CircleRelay/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 保护元件文档更新2
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/200-protection-basic/10-LineRelay/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/200-protection-basic/20-CircleRelay/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/210-protection-modules/10-CurrentProtection/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 算例文档
  docs/cases/10-SubstationCase/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 变电站算例文档
  docs/cases/10-SubstationCase/_create.png
  docs/cases/10-SubstationCase/_current1.png
  docs/cases/10-SubstationCase/_current2.png
  docs/cases/10-SubstationCase/_current3_1.png
  docs/cases/10-SubstationCase/_current3_2.png
  docs/cases/10-SubstationCase/_faultsceneposition.png
  docs/cases/10-SubstationCase/_line1measurement.png
  docs/cases/10-SubstationCase/_log1.png
  docs/cases/10-SubstationCase/_log2.png
  docs/cases/10-SubstationCase/_log3.png
  docs/cases/10-SubstationCase/_log4.png
  docs/cases/10-SubstationCase/_nav.png
  docs/cases/10-SubstationCase/_protection_on_off.png
  docs/cases/10-SubstationCase/_selectfaultscene.png
  docs/cases/10-SubstationCase/_substation1.png
  docs/cases/10-SubstationCase/_substation2.png
  docs/cases/10-SubstationCase/_substation3.png
  docs/cases/10-SubstationCase/_trip1.png
  docs/cases/10-SubstationCase/_trip2.png
  docs/cases/10-SubstationCase/_trip3.png
  docs/cases/10-SubstationCase/_trip4.png
  docs/cases/10-SubstationCase/_voltage2.png
  docs/cases/10-SubstationCase/_voltage4.png
  docs/cases/10-SubstationCase/image.png
  docs/cases/10-SubstationCase/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 算例文档更新
  docs/cases/10-SubstationCase/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 算例文档更新
  docs/cases/10-SubstationCase/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 完成EMTLab平台有关综合能源典型算例的文档撰写
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/10-combined-cooling-heating-power-system/carbon.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/10-combined-cooling-heating-power-system/diagram.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/10-combined-cooling-heating-power-system/external-power.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/10-combined-cooling-heating-power-system/gas-turbine-power.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/10-combined-cooling-heating-power-system/gas-turbine-temperature.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/10-combined-cooling-heating-power-system/index.md
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/20-park-level-integrated-energy-system/boiler-temperature.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/20-park-level-integrated-energy-system/carbon-sankey.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/20-park-level-integrated-energy-system/diagram.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/20-park-level-integrated-energy-system/external-power.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/20-park-level-integrated-energy-system/index.md
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/20-park-level-integrated-energy-system/school-temperature.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/30-AC-DC-hybrid-system/battery-power.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/30-AC-DC-hybrid-system/battery-storage.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/30-AC-DC-hybrid-system/diagram.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/30-AC-DC-hybrid-system/external-power.png
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/30-AC-DC-hybrid-system/index.md
  docs/cases/10-emtlab/10-typical-cases/160-integrated-energy-system/30-AC-DC-hybrid-system/wind-turbine-power.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 更新交流配网案例文档
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/DCGrid2.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/DCGrid3.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/DCGrid4.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/DCGrid5.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/DCGrid6.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/DCGrid7.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-1.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-10.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-2.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-3.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-4.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-5.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-6.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-7.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-8.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image-9.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/image.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/index.md
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/10-ac-microgrid/model_admin_ac-microgrid.zip
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 添加csee算例架构
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/80-csee-pfo-temporary/index.md
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-systems/90-csee-pfo-continuous/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: use replaceAll
  tools/comp-docs.js
  tools/pangu.js
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: 增强模型获取的 GraphQL 错误处理
  tools/comp-docs.js
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 更新跟网型储能变流器-平均模型、构网型储能变流器-平均模型、跟网/构网型井网变流器-平均模型文档
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/_parameters.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/_pins.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-graphic.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-main.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-main2.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-multi.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-output.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-pu.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/10-pcs_gfl-acad_dps_lqp-v1/pcs_gfl_acad-dps-lqp-vsc.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/_parameters.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/_pins.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/index.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-graphic.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-main.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-main2.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-multi.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-output.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-pu.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-vsc1.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/20-pcs_gfm-acad_dps_lqp-v1/pcs_gfm_acad-dps-lqp-vsc2.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/_parameters.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/_pins.md
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-active.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-csee.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-frequency.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-gfl.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-gfm.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-graphic.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-main.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-main2.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-multi.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-output.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-overall-structure.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-pu.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-reactive.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/ibr-acad_dps_lqp-vsc.png
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.9
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  tools/docs-to-pdf/package.json
  tools/docs-to-pdf/pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: case-old中暂时没有csee标准算例文档，因此在case-old的跟网/构网型并网变流器-平均模型文档中删去csee-ras的超链接
  docs/cases/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 上一次修改误删了case中的跟网/构网型变流器-平均模型，而不是case-old中的，目前已删去case-old中存在的错误。
  docs/cases-old/10-emtlab/20-academic-cases/40-energy-storage-power-system/30-ibr-acad_dps_lqp-v1/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.10
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.11
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改了错误的链接地址
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/30-wtg_pmsg_f/10-wtg_pmsg_01-avm-stdm-v2/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/40-wtg_dfig_f/10-wtg_dfig_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/70-voltage-ride-though-model/10-vrt_sd-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/70-voltage-ride-though-model/20-vrt_ctrl-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/30-pvs_f/10-pvs_01-avm-stdm-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.12
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改双馈、光伏标准封装模型中的案例介绍为元件介绍
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/40-wtg_dfig_f/10-wtg_dfig_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/20-wind-power-system/40-wtg_dfig_f/10-wtg_dfig_01-avm-stdm-v1/wtg_dfig_01-avm-stdm-v1b1-graphic.png
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/30-pvs_f/10-pvs_01-avm-stdm-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.13
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com
