Repository CloudPSS/docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com, @cupxy@foxmail.com, @15082920203@163.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 暂存3篇SVG标准模型文档；优化光伏、储能文档布局。
  docs/cases/10-emtlab/10-typical-cases/30-photovoltaic-power-system/30-pvs_f/10-pvs_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/40-energy-storage-power-system/10-pcs_bat/10-pcs_bat_01/10-pcs_bat_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/40-energy-storage-power-system/10-pcs_bat/10-pcs_bat_01/30-pcs_bat_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/40-energy-storage-power-system/10-pcs_bat/10-pcs_bat_01/30-pcs_bat_01-avm-std-v1/pcs_01-avm-std-main.png
  docs/cases/10-emtlab/10-typical-cases/40-energy-storage-power-system/40-pcs-f/10-pcs_bat_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/40-energy-storage-power-system/40-pcs-f/10-pcs_bat_01-avm-stdm-v1/pcs_bat_01-avm-stdm-main.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/svg_01-fdm-std-hvrt.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/svg_01-fdm-std-lvrt.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/svg_01-fdm-std-main.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/svg_01-fdm-std-step-q.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/svg_01-fdm-std-step-v.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/svg_01-fdm-std-vsc.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/_index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/svg_01-avm-std-hvrt.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/svg_01-avm-std-lvrt.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/svg_01-avm-std-main.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/svg_01-avm-std-step-q.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/svg_01-avm-std-step-v.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/svg_01-avm-std-vsc.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-cseepq.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-cseev.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-graphic.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-main.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-vsc.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  docusaurus.config.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

Revert "build: update deps"
  docusaurus.config.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

Revert "build: update deps"
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: fix deps
  docs/documents/software/10-xstudio/30-funcstudio/30-dev-env-setup/index.md
  package.json
  pnpm-lock.yaml
Owners: @1094779545@qq.com, @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com

fix: blog sidebar
  docusaurus.config.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 完善01型储能、SVG知识库文档
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/_parameters.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/_pins.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/10-svg_01-fdm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/_parameters.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/_pins.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/10-svg/10-svg_01/30-svg_01-avm-std-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/_parameters.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/_pins.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/index.md
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-cseepq.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-cseev.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-graphic.png
  docs/cases/10-emtlab/10-typical-cases/50-static-var-compensator/20-svg-f/10-svg_01-avm-stdm-v1/svg_01-avm-stdm-vsc.png
  tools/comp-docs.js
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

build: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/docs-to-pdf/package.json
  tools/docs-to-pdf/pnpm-lock.yaml
  tools/docs-to-pdf/pnpm-workspace.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: tool deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/docs-to-pdf/package.json
  tools/docs-to-pdf/src/print-page.ts
  tools/docs-to-pdf/src/print-pages.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: color
  src/theme/ColorModeToggle/index.tsx
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: revert deps
  .browserslistrc
  babel.config.js
  docusaurus.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/css/code.css
  tools/docs-to-pdf/package.json
  tools/docs-to-pdf/pnpm-lock.yaml
  tools/docs-to-pdf/pnpm-workspace.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 补充MiraScript说明
  docs/documents/software/10-xstudio/20-simstudio/50-modeling/10-params-variables-pins/index.md
Owners: @1094779545@qq.com, @opportunity@live.in, @sykfmlrc@163.com

build: update pnpm
  package.json
  pnpm-workspace.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 更新日志0508
  blog/2026/05-08-update/COMTRADE.png
  blog/2026/05-08-update/index.md
  blog/2026/05-08-update/任务管理.png
  blog/2026/05-08-update/脚本面板.png
  blog/2026/05-08-update/运行结果管理.png
  blog/2026/05-08-update/选择器.png
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: fix
  blog/2026/05-08-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.36
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复软件产品链接错误
  docs/documents/software/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.37
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

Revert "build: update deps"
  package.json
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: hooks
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  tools/comp-docs.js
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: code quality
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  .github/workflows/build.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

build: update deps
  pnpm-lock.yaml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

5.4.38
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 新增CloudPSS MCP 接入指南文档
  docs/documents/software-tools/30-mcp/copy-id.png
  docs/documents/software-tools/30-mcp/index.md
Owners: @opportunity@live.in, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 完善CloudPSS MCP 接入指南
  docs/documents/software-tools/30-mcp/index.md
Owners: @opportunity@live.in, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改CloudPSS MCP 接入指南文档
  docs/documents/software-tools/30-mcp/index.md
Owners: @opportunity@live.in, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改CloudPSS MCP 文档
  docs/documents/software-tools/30-mcp/copy-id.png
  docs/documents/software-tools/30-mcp/index.md
Owners: @opportunity@live.in, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改casehub架构
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/10-combined-cooling-heating-power-system/carbon.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/10-combined-cooling-heating-power-system/diagram.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/10-combined-cooling-heating-power-system/external-power.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/10-combined-cooling-heating-power-system/gas-turbine-power.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/10-combined-cooling-heating-power-system/gas-turbine-temperature.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/10-combined-cooling-heating-power-system/index.md
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/20-park-level-integrated-energy-system/boiler-temperature.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/20-park-level-integrated-energy-system/carbon-sankey.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/20-park-level-integrated-energy-system/diagram.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/20-park-level-integrated-energy-system/external-power.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/20-park-level-integrated-energy-system/index.md
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/20-park-level-integrated-energy-system/school-temperature.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/30-AC-DC-hybrid-system/battery-power.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/30-AC-DC-hybrid-system/battery-storage.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/30-AC-DC-hybrid-system/diagram.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/30-AC-DC-hybrid-system/external-power.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/30-AC-DC-hybrid-system/index.md
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/30-AC-DC-hybrid-system/wind-turbine-power.png
  docs/casehub/10-emtlab/10-typical-cases/90-integrated-energy-system/index.md
  docs/casehub/30-dslab/10-typical-cases/_index.md
  docs/casehub/30-dslab/20-academic-cases/_index.md
  docs/casehub/30-dslab/30-third-party-cases/_index.md
  docs/casehub/30-dslab/index.md
  docs/casehub/40-xstudio/10-typical-cases/50-emt-rt-apps/_index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

v5.4.39
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

ci: release
  .github/workflows/release.yml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

5.4.40
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

ci: release
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

5.4.41
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

ci: release
  .github/workflows/release.yml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

ci: release
  .github/workflows/release.yml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com       @tanzhd@foxmail.com     @1094779545@qq.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com      
docs/documents/archived-content/**              @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/maintenance-tools/**             @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/guide/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/hardware/**                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software-tools/**                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/30-ieslab/**            @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/20-emtlab/**            @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/documents/software/10-xstudio/**           @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
docs/documents/software/40-dslab/**             @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com
docs/cases/10-emtlab/**                         @15082920203@163.com    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
