Repository CloudPSS/docs, changes with the owners that CODEOWNERS names for each.
All owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com, @cupxy@foxmail.com, @15082920203@163.com

CODEOWNERS:

# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com       @tanzhd@foxmail.com     @1094779545@qq.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com      
docs/documents/archived-content/**              @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/maintenance-tools/**             @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/guide/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/hardware/**                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software-tools/**                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/30-ieslab/**            @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com
docs/documents/software/20-emtlab/**            @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/documents/software/10-xstudio/**           @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
docs/documents/software/40-dslab/**             @cupxy@foxmail.com      @1094779545@qq.com      @sykfmlrc@163.com
docs/cases/10-emtlab/**                         @15082920203@163.com    @1094779545@qq.com      @sykfmlrc@163.com       @tanzhd@foxmail.com

docs: 更改RAS波形
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/cloudpss_csee_ras_periodic.png
  docs/cases/10-emtlab/10-typical-cases/80-csee-standard-cases/20-csee_ras_periodic-v1/cloudpss_csee_ras_periodic2.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修改功角振荡结果
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/20-csee_ras_periodic-v1/cloudpss_csee_ras_periodic.png
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/20-csee_ras_periodic-v1/cloudpss_csee_ras_periodic2.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.24
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat(chat): 添加聊天组件到应用根组件
  package.json
  pnpm-lock.yaml
  src/components/Chat/chat.tsx
  src/theme/Root.tsx
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat(chat): 重构聊天组件并更新依赖版本
  package.json
  pnpm-lock.yaml
  src/components/Chat/chat.tsx
  src/components/Chat/icon.svg
  src/js/index.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

refactor(chat): 将聊天组件从私有包迁移到本地实现
  package.json
  pnpm-lock.yaml
  src/components/Chat/chat.tsx
  src/js/chat.ts
  src/js/index.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

5.4.25
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

5.4.25
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

5.4.26
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改电压崩溃算例地址
  docs/cases/10-emtlab/20-academic-cases/50-csee-standard-cases/50-csee_vs_vc-v1/index.md
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

v5.4.27
  package.json
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: EMTLab软件添加三相不对称潮流计算文档
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/index.md
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/20-initializing-from-power-flow-results/index.md
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/index.md
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 完成EMTLab平台有关交直流微电网典型算例的文档撰写
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/ACBus.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/ACbranch.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/DCBus.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/DCbranch.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/Systopology.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/VSC_input.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/Vsctopology.png
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/index.md
  docs/cases/10-emtlab/10-typical-cases/110-dc-microgrids/20-ac-dc-microgrid/vsc.png
  docusaurus/navbars.ts
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com, @opportunity@live.in

docs: 将cases-old改为cases_old
  docusaurus/navbars.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 完成EMTLab平台有关三相不平衡潮流计算典型算例的文档撰写
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dac-voltage-source-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dbus-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dexport.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dline-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dload-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dpower-flow-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dshunt-lc-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/Dtransformer-3p-2w-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/10-job-config/index.md
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/20-initializing-from-power-flow-results/Dbussetting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/20-initializing-from-power-flow-results/Dloadsetting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/20-initializing-from-power-flow-results/Dpower-flow-data.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/20-initializing-from-power-flow-results/Dsourecesetting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/20-initializing-from-power-flow-results/Dwrite-back.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/20-initializing-from-power-flow-results/index.md
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/Dresult.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/Dresult1.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/Drun-setting.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/Dwrite-back.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/Dwrite-back1.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/index.md
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/30-case-study/new-project.png
  docs/documents/software/20-emtlab/95-three-phase-unbalanced-power-flow/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改电磁暂态相关帮助文档
  docs/documents/software/20-emtlab/50-emts/40-snapshot/index.md
  docs/documents/software/20-emtlab/60-power-flow/10-fundamentals/index.md
  docs/documents/software/20-emtlab/60-power-flow/20-job-config/component-setting.png
  docs/documents/software/20-emtlab/60-power-flow/20-job-config/index.md
  docs/documents/software/20-emtlab/60-power-flow/20-job-config/psasp2cloudpss.jpg
  docs/documents/software/20-emtlab/60-power-flow/40-user-defined/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改电磁暂态计算方案配置相关内容
  docs/documents/software/20-emtlab/50-emts/10-fundamentals/index.md
  docs/documents/software/20-emtlab/50-emts/20-job-config/index.md
  docs/documents/software/20-emtlab/70-parallel-acceleration/20-advanced-param-setup/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改代数环解环点文档
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/loop-opening.jpg
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/loop-opening.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/loop_system.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/warning_log.png
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改电磁暂态计算方案配置相关内容
  docs/documents/software/20-emtlab/50-emts/20-job-config/index.md
  docs/documents/software/20-emtlab/50-emts/20-job-config/switch-state-transition.png
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 针对lzs改动部分进行了审阅和修正
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/break-loop.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/loop-case.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/loop-log.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/loop-opening.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/loop_system.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/20-control/10-control-basic/110-_newLoopNode/warning_log.png
  docs/documents/software/20-emtlab/110-component-library/index.md
  docs/documents/software/20-emtlab/50-emts/25-run-results/index.md
  docs/documents/software/20-emtlab/50-emts/25-run-results/simstudio-revision.png
  docs/documents/software/20-emtlab/50-emts/25-run-results/snapshot.png
  docs/documents/software/20-emtlab/50-emts/25-run-results/task-snapshot-canvas.png
  docs/documents/software/20-emtlab/50-emts/25-run-results/task-snapshot.png
  docs/documents/software/20-emtlab/60-power-flow/30-initializing-from-power-flow-results/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

feat(聊天组件): 添加聊天按钮样式并隐藏打印时的聊天界面
  src/components/Chat/chat.tsx
  src/css/chat.css
  src/css/index.css
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

fix: pdf 导出
  tools/docs-to-pdf/package.json
  tools/docs-to-pdf/pnpm-lock.yaml
  tools/docs-to-pdf/src/config.ts
  tools/docs-to-pdf/src/print-page.ts
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修改负载均衡部分帮助文档
  docs/documents/software/20-emtlab/90-topology-analysis/10-bus-merging/index.md
  docs/documents/software/20-emtlab/90-topology-analysis/20-load-balancing/index.md
  docs/documents/software/20-emtlab/90-topology-analysis/image-12.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-13.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-14.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-16.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-17.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-18.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-19.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-20.png
  docs/documents/software/20-emtlab/90-topology-analysis/image-21.png
  docs/documents/software/20-emtlab/90-topology-analysis/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改接地变description，补充短路故障模块、接地变压器对应元件定义、原理图、案例。
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/150-FaultSet/_fig1.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/150-FaultSet/_fig2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/150-FaultSet/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/160-GroundingTransformer/_fig1.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/160-GroundingTransformer/_fig2.png
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/160-GroundingTransformer/_parameters.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/40-three-phase-ac-components/160-GroundingTransformer/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: 修改电磁暂态仿真配置
  docs/documents/software/20-emtlab/50-emts/20-job-config/advanced-setting.png
  docs/documents/software/20-emtlab/50-emts/20-job-config/basic-setting.png
  docs/documents/software/20-emtlab/50-emts/20-job-config/fpga-setting.png
  docs/documents/software/20-emtlab/50-emts/20-job-config/index.md
  docs/documents/software/20-emtlab/50-emts/20-job-config/rt-output-setting.png
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

build: update deps
  .github/workflows/build.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  tools/convert-webp.js
  tools/docs-to-pdf/src/print-page.ts
  tools/optimize-zip.js
  tools/pangu.js
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 基础保护案例文档图片更新
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/10-distance-protection-case/_breaker.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/10-distance-protection-case/_distanceprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/10-distance-protection-case/_faultset.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/20-pilot-protection-case/_pilotprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/30-current-protection-case/_currentprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/30-current-protection-case/_systemcontrol.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case copy/_currentprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/50-zero-voltage-protection-case/_zerovoltageprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/60-compound-voltage-protection-case/_compoundvoltageprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/60-compound-voltage-protection-case/_outputchannel.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 基础保护案例图片更新
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/20-pilot-protection-case/_pilotprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/30-current-protection-case/_currentprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/30-current-protection-case/_systemcontrol.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/40-zero-current-protection-case copy/_currentprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/50-zero-voltage-protection-case/_zerovoltageprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/60-compound-voltage-protection-case/_compoundvoltageprotection.png
  docs/cases/10-emtlab/10-typical-cases/130-relay-protection-system/10-basic-protection-cases/60-compound-voltage-protection-case/_outputchannel.png
Owners: @15082920203@163.com, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 针对11.13以前文档修改的审批
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/60-_newFaultResistor/index.md
  docs/documents/software/20-emtlab/110-component-library/10-basic/10-electrical/10-passive-elements/70-_newFaultResistor_3p/index.md
  docs/documents/software/20-emtlab/50-emts/20-job-config/index.md
  docs/documents/software/20-emtlab/50-emts/30-meters-and-outputs/index.md
Owners: @tanzhd@foxmail.com, @1094779545@qq.com, @sykfmlrc@163.com

docs: XStudio知识库更新
  blog/2025/11-07-update/image-9_1.png
  blog/2025/11-07-update/index.md
  docs/documents/software/10-xstudio/20-simstudio/40-workbench/20-function-zone/40-run-tab/7_1.png
  docs/documents/software/10-xstudio/20-simstudio/40-workbench/20-function-zone/40-run-tab/7_2.png
  docs/documents/software/10-xstudio/20-simstudio/40-workbench/20-function-zone/40-run-tab/index.md
  docs/documents/software/10-xstudio/20-simstudio/50-modeling/40-module-packaging/30-design-module-icon/image-9_1.png
  docs/documents/software/10-xstudio/20-simstudio/50-modeling/40-module-packaging/30-design-module-icon/image-9_2.png
  docs/documents/software/10-xstudio/20-simstudio/50-modeling/40-module-packaging/30-design-module-icon/image-9_3.png
  docs/documents/software/10-xstudio/20-simstudio/50-modeling/40-module-packaging/30-design-module-icon/index.md
  docs/documents/software/10-xstudio/40-appstudio/40-workbench/10-toolbar/index.md
  docs/documents/software/10-xstudio/40-appstudio/40-workbench/20-function-zone/20-asset-tab/index.md
  docs/documents/software/10-xstudio/40-appstudio/50-app-design/30-layered-scenes/5.png
  docs/documents/software/10-xstudio/40-appstudio/50-app-design/30-layered-scenes/index.md
  docs/documents/software/20-emtlab/60-power-flow/30-initializing-from-power-flow-results/index.md
  docs/documents/software/50-user-center/30-cloudpss-apps/10-simstudio-cloud-space/index.md
  docs/documents/software/50-user-center/70-others/20-language/1.png
  docs/documents/software/50-user-center/70-others/20-language/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com, @tanzhd@foxmail.com

docs: 更新日志
  blog/2025/11-07-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

docs: 修改更新日志
  blog/2025/11-07-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com

feat: 修改cloudpss-finder地址url
  docs/documents/hardware/10-desktop-type/10-cloudpss-mini/30-faq/index.md
Owners: @opportunity@live.in, @1094779545@qq.com, @sykfmlrc@163.com, @tanzhd@foxmail.com

docs: 修复 dslab 文档错误
  docs/documents/software/80-sdk-python/70-api/60-dslab/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 新增 ieslab-opt 文档
  docs/documents/software/80-sdk-python/70-api/10-model/index.md
  docs/documents/software/80-sdk-python/70-api/20-function-execution/index.md
  docs/documents/software/80-sdk-python/70-api/30-job/index.md
  docs/documents/software/80-sdk-python/70-api/50-ieslab/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 新增审计日志文档
  docs/documents/software/50-user-center/40-general-account-settings/60-audit-log/audit-log.png
  docs/documents/software/50-user-center/40-general-account-settings/60-audit-log/export-log.png
  docs/documents/software/50-user-center/40-general-account-settings/60-audit-log/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

feat: 修复缺失 tag: API 报错
  docs/documents/software/90-cloudpss-api/index.md
  docs/tags.yml
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复account.mdx链接错误
  docs/documents/software/90-cloudpss-api/40-api-document/types/interfaces/account.mdx
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 修复链接错误
  docs/documents/software/90-cloudpss-api/40-api-document/types/interfaces/account.mdx
Owners: @opportunity@live.in, @sykfmlrc@163.com, @tanzhd@foxmail.com, @1094779545@qq.com

docs: 补充更新日志
  blog/2025/08-26-update/OpenCloudPSS.png
  blog/2025/08-26-update/image-9_1.png
  blog/2025/08-26-update/index.md
  blog/2025/11-07-update/index.md
  blog/2025/11-14-update/AI助手.png
  blog/2025/11-14-update/OpenCloudPSS.png
  blog/2025/11-14-update/image-9_1.png
  blog/2025/11-14-update/index.md
Owners: @opportunity@live.in, @sykfmlrc@163.com, @1094779545@qq.com
